/* Custom CSS 
 * Written by Jonathan Zhang for jonathanzhang53.github.io
 */

i.fa-2x {
	line-height: inherit;
}

.icon {
	text-align: center;
}

.center-box {
	padding-top: 10%;
}

#buttonrow {
	text-align: center;
}

#quote {
	text-align: center;
}

.spacer {
	padding-top: 5%;
}
