/* Custom CSS 
 * Written by Jonathan Zhang for jonathanzhang53.github.io
 */

html, body {
	height: 100%;
}

.pad-top {
	padding-top: 5%;
}

i.fa-2x {
	line-height: inherit;
}

.icon {
	text-align: center;
}

.center-box {
	padding-top: 10%;
}

#buttonrow {
	text-align: center;
}

#quote {
	text-align: center;
}

.spacer {
	padding-top: 5%;
}

@media (max-width: 575px) { /* overrides bootstrap left and right borders on less than sm screen sizes */
	.border-left {
		border-left: 0px !important;
	}
	.border-right {
		border-right: 0px !important;
	}
	.border-bottom {
		border-bottom: 0px !important;
	}
}